In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [141]:
data = pd.read_csv("C:/DCU/Exam/CA682 2020_2021 Exam UPDATED DATA/rsa_2011-2012-V.csv")
data

             Age Sex       Participant CasualtyType  2011  2012
0         0 - 5    M       Pedestrians      Injured    39    40
1         0 - 5    M       Pedestrians       Killed     0     0
2         0 - 5    M    Pedal cyclists      Injured     3     1
3         0 - 5    M    Pedal cyclists       Killed     1     0
4         0 - 5    M    Motor cyclists      Injured     0     0
..           ...  ..               ...          ...   ...   ...
279  Age unknown   F       Car drivers       Killed     0     0
280  Age unknown   F    Car passengers      Injured    10    11
281  Age unknown   F    Car passengers       Killed     0  -999
282  Age unknown   F  Other road users      Injured     0     0
283  Age unknown   F  Other road users       Killed     0     0

[284 rows x 6 columns]

In [142]:
pd.crosstab(data['Sex'],data['CasualtyType'])

CasualtyType  Injured  Killed
Sex
F                  70      70
M                  72      72

In [143]:
pd.crosstab(data['Participant'],data['CasualtyType'])

CasualtyType      Injured  Killed
Participant
Car drivers            23      23
Car passengers         23      23
Motor cyclists         24      24
Other road users       24      24
Pedal cyclists         24      24
Pedestrians            24      24

In [144]:
pd.crosstab(data['Age'],data['CasualtyType'])

CasualtyType  Injured  Killed
Age
0 - 5              12      12
06/09/2020          6       6
10 - 14            12      12
15 - 17            10      10
18 - 20            12      12
21 - 24            12      12
25 - 34            12      12
35 - 44            12      12
45 - 54            12      12
55 - 64            12      12
6 - 9               6       6
65  and over       12      12
Age unknown        12      12

In [145]:
pd.crosstab(data['2011'],data['CasualtyType'])

CasualtyType  Injured  Killed
2011
0                  16      76
1                   5      32
2                   6       8
3                   3       7
4                   3       4
...               ...     ...
191                 1       0
291                 1       0
294                 1       0
370                 1       0
379                 1       0

[80 rows x 2 columns]

In [146]:
data.describe()

             2011        2012
count  284.000000  284.000000
mean    24.679577   23.683099
std     53.392335   84.375642
min      0.000000 -999.000000
25%      0.000000    0.000000
50%      2.000000    2.000000
75%     23.250000   28.250000
max    379.000000  384.000000

In [147]:
data.isnull().sum()

Age             0
Sex             0
Participant     0
CasualtyType    0
2011            0
2012            0
dtype: int64

In [148]:
data.head()

      Age Sex     Participant CasualtyType  2011  2012
0  0 - 5    M     Pedestrians      Injured    39    40
1  0 - 5    M     Pedestrians       Killed     0     0
2  0 - 5    M  Pedal cyclists      Injured     3     1
3  0 - 5    M  Pedal cyclists       Killed     1     0
4  0 - 5    M  Motor cyclists      Injured     0     0

In [149]:
data.select_dtypes(include = ['int'])

     2011  2012
0      39    40
1       0     0
2       3     1
3       1     0
4       0     0
..    ...   ...
279     0     0
280    10    11
281     0  -999
282     0     0
283     0     0

[284 rows x 2 columns]

In [150]:
data.select_dtypes(include = ['object'])

             Age Sex       Participant CasualtyType
0         0 - 5    M       Pedestrians      Injured
1         0 - 5    M       Pedestrians       Killed
2         0 - 5    M    Pedal cyclists      Injured
3         0 - 5    M    Pedal cyclists       Killed
4         0 - 5    M    Motor cyclists      Injured
..           ...  ..               ...          ...
279  Age unknown   F       Car drivers       Killed
280  Age unknown   F    Car passengers      Injured
281  Age unknown   F    Car passengers       Killed
282  Age unknown   F  Other road users      Injured
283  Age unknown   F  Other road users       Killed

[284 rows x 4 columns]

In [151]:
data['Age'].nunique()

13

In [152]:
values_age = [i for i in data['Age']]
values_age

['0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '0 - 5 ',
 '06/09/2020',
 '06/09/2020',
 '06/09/2020',
 '06/09/2020',
 '06/09/2020',
 '06/09/2020',
 '06/09/2020',
 '06/09/2020',
 '06/09/2020',
 '06/09/2020',
 '06/09/2020',
 '06/09/2020',
 '6 - 9',
 '6 - 9',
 '6 - 9',
 '6 - 9',
 '6 - 9',
 '6 - 9',
 '6 - 9',
 '6 - 9',
 '6 - 9',
 '6 - 9',
 '6 - 9',
 '6 - 9',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '10 - 14',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '15 - 17 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '18 - 20 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '21 - 24 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '25 - 34 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '35 - 44 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '45 - 54 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '55 - 64 ',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 '65  and over',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown',
 'Age unknown']

In [153]:
#inconsistent age coding --> while other are in the age ranges it looks like there ia a date accidentally entered into the age field rather than an age band.
#inconsistent formatting of age bands -->

In [154]:
value_2011 = data['2011']
value_2011

0      39
1       0
2       3
3       1
4       0
       ..
279     0
280    10
281     0
282     0
283     0
Name: 2011, Length: 284, dtype: int64

In [155]:
valuex_2011 = value_2011[(value_2011 >= 0) & (value_2011 <= 1000)]
valuex_2011 = [i for i in value_2011 if 0 <= i <= 1000]

In [156]:
valuex_2011_series = pd.Series(valuex_2011)
len(valuex_2011_series)

284

In [157]:
data.shape

(284, 6)

284 - 263 =  21 feature rows have

In [158]:
value_2012 = data['2012']
value_2012

0       40
1        0
2        1
3        0
4        0
      ...
279      0
280     11
281   -999
282      0
283      0
Name: 2012, Length: 284, dtype: int64

In [159]:
valuex_2012 = value_2012[(value_2012 >= 0) & (value_2012 <= 1000)]
valuex_2012 = [i for i in value_2012 if 0 <= i <= 1000]

In [160]:
len(valuex_2012)

283

In [161]:
data.shape

(284, 6)

In [162]:
condition = (data['2012'] >= 0 & (data['2012'] <= 100))

In [163]:
bad_row = data[~condition]
bad_row

             Age Sex     Participant CasualtyType  2011  2012
281  Age unknown   F  Car passengers       Killed     0  -999

In [164]:
data['Age_clean'] = data['Age'].str.replace(' ','')
data['Age_clean'].astype('category')
data['Age_clean'].head()

0    0-5
1    0-5
2    0-5
3    0-5
4    0-5
Name: Age_clean, dtype: object

In [165]:
data.head()

      Age Sex     Participant CasualtyType  2011  2012 Age_clean
0  0 - 5    M     Pedestrians      Injured    39    40       0-5
1  0 - 5    M     Pedestrians       Killed     0     0       0-5
2  0 - 5    M  Pedal cyclists      Injured     3     1       0-5
3  0 - 5    M  Pedal cyclists       Killed     1     0       0-5
4  0 - 5    M  Motor cyclists      Injured     0     0       0-5

In [166]:
data['2012'].dtype

dtype('int64')

In [167]:
data['2012'] = data['2012'].astype('Int64')

In [168]:
data['2012'] = data['2012'].replace(-999,pd.NA)

In [169]:
data[data['2012'].isna()]

             Age Sex     Participant CasualtyType  2011  2012   Age_clean
281  Age unknown   F  Car passengers       Killed     0  <NA>  Ageunknown

In [171]:
data['2011_log'] = np.log1p(data['2011'])   # log(1 + x)
data['2012_log'] = np.log1p(data['2012'])
data.drop(columns = ['2011','2012'],axis = 1,inplace = True)

C:\Users\athar\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\arrays\masked.py:559: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs2, **kwargs)

In [172]:
data.head()

      Age Sex     Participant CasualtyType Age_clean  2011_log  2012_log
0  0 - 5    M     Pedestrians      Injured       0-5  3.688879  3.713572
1  0 - 5    M     Pedestrians       Killed       0-5  0.000000       0.0
2  0 - 5    M  Pedal cyclists      Injured       0-5  1.386294  0.693147
3  0 - 5    M  Pedal cyclists       Killed       0-5  0.693147       0.0
4  0 - 5    M  Motor cyclists      Injured       0-5  0.000000       0.0

In [173]:
data_final = data.copy()

In [174]:
data_final.drop(columns = ['Age'],inplace = True,errors = 'ignore')

In [175]:
data_final.head()

  Sex     Participant CasualtyType Age_clean  2011_log  2012_log
0   M     Pedestrians      Injured       0-5  3.688879  3.713572
1   M     Pedestrians       Killed       0-5  0.000000       0.0
2   M  Pedal cyclists      Injured       0-5  1.386294  0.693147
3   M  Pedal cyclists       Killed       0-5  0.693147       0.0
4   M  Motor cyclists      Injured       0-5  0.000000       0.0

In [176]:
data_final.columns

Index(['Sex', 'Participant', 'CasualtyType', 'Age_clean', '2011_log',
       '2012_log'],
      dtype='object')

In [177]:
cat_cols = data_final.select_dtypes(include = 'object')

In [178]:
cat_cols

    Sex       Participant CasualtyType   Age_clean
0     M       Pedestrians      Injured         0-5
1     M       Pedestrians       Killed         0-5
2     M    Pedal cyclists      Injured         0-5
3     M    Pedal cyclists       Killed         0-5
4     M    Motor cyclists      Injured         0-5
..   ..               ...          ...         ...
279   F       Car drivers       Killed  Ageunknown
280   F    Car passengers      Injured  Ageunknown
281   F    Car passengers       Killed  Ageunknown
282   F  Other road users      Injured  Ageunknown
283   F  Other road users       Killed  Ageunknown

[284 rows x 4 columns]

In [179]:
for i in cat_cols:
    print(i,data[i].nunique())

Sex 2
Participant 6
CasualtyType 2
Age_clean 13

In [180]:
mask_date = data_final['Age_clean'].str.contains(r"\d{2}/\d{2}/\d{4}", na=False)
len(mask_date)

284

In [182]:
data[mask_date][['Age_clean', 'Sex', 'Participant', 'CasualtyType', '2011_log', '2012_log']]

     Age_clean Sex       Participant CasualtyType  2011_log  2012_log
24  06/09/2020   M       Pedestrians      Injured  3.828641   3.73767
25  06/09/2020   M       Pedestrians       Killed  0.693147  0.693147
26  06/09/2020   M    Pedal cyclists      Injured  2.944439  2.564949
27  06/09/2020   M    Pedal cyclists       Killed  0.693147       0.0
28  06/09/2020   M    Motor cyclists      Injured  0.000000       0.0
29  06/09/2020   M    Motor cyclists       Killed  0.000000       0.0
30  06/09/2020   M       Car drivers      Injured  0.000000       0.0
31  06/09/2020   M       Car drivers       Killed  0.000000       0.0
32  06/09/2020   M    Car passengers      Injured  3.713572  4.007333
33  06/09/2020   M    Car passengers       Killed  0.000000       0.0
34  06/09/2020   M  Other road users      Injured  2.197225  1.098612
35  06/09/2020   M  Other road users       Killed  0.000000       0.0

In [183]:
data_final.loc[mask_date,'Age_clean'] = 'Age unknown'

In [184]:
data_final.head()

  Sex     Participant CasualtyType Age_clean  2011_log  2012_log
0   M     Pedestrians      Injured       0-5  3.688879  3.713572
1   M     Pedestrians       Killed       0-5  0.000000       0.0
2   M  Pedal cyclists      Injured       0-5  1.386294  0.693147
3   M  Pedal cyclists       Killed       0-5  0.693147       0.0
4   M  Motor cyclists      Injured       0-5  0.000000       0.0

In [185]:
len(mask_date)

284

In [186]:
data[mask_date][['Age_clean', 'Sex', 'Participant', 'CasualtyType', '2011_log', '2012_log']]

     Age_clean Sex       Participant CasualtyType  2011_log  2012_log
24  06/09/2020   M       Pedestrians      Injured  3.828641   3.73767
25  06/09/2020   M       Pedestrians       Killed  0.693147  0.693147
26  06/09/2020   M    Pedal cyclists      Injured  2.944439  2.564949
27  06/09/2020   M    Pedal cyclists       Killed  0.693147       0.0
28  06/09/2020   M    Motor cyclists      Injured  0.000000       0.0
29  06/09/2020   M    Motor cyclists       Killed  0.000000       0.0
30  06/09/2020   M       Car drivers      Injured  0.000000       0.0
31  06/09/2020   M       Car drivers       Killed  0.000000       0.0
32  06/09/2020   M    Car passengers      Injured  3.713572  4.007333
33  06/09/2020   M    Car passengers       Killed  0.000000       0.0
34  06/09/2020   M  Other road users      Injured  2.197225  1.098612
35  06/09/2020   M  Other road users       Killed  0.000000       0.0

In [187]:
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder

data_final_encoded = pd.get_dummies(data_final,columns = ['Age_clean','Sex','Participant','CasualtyType'],drop_first = True)
data_final_encoded.head()

,2011_log,2012_log,Age_clean_10-14,Age_clean_15-17,Age_clean_18-20,Age_clean_21-24,Age_clean_25-34,Age_clean_35-44,Age_clean_45-54,Age_clean_55-64,...,Age_clean_65andover,Age_clean_Age unknown,Age_clean_Ageunknown,Sex_M,Participant_Car passengers,Participant_Motor cyclists,Participant_Other road users,Participant_Pedal cyclists,Participant_Pedestrians,CasualtyType_Killed
0,3.688879,3.713572,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,0.000000,0.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1
2,1.386294,0.693147,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
3,0.693147,0.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,1
4,0.000000,0.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0

In [188]:
target = 'CasualtyType_Killed'
feature_cols = [c for c in data_final_encoded.columns if c != target]

corr_target = data_final_encoded[feature_cols + [target]].corr()[target].sort_values(ascending = False)
corr_target

CasualtyType_Killed             1.000000e+00
Participant_Other road users    7.301829e-18
Participant_Pedal cyclists      5.215592e-18
Age_clean_6-9                   3.886558e-18
Age_clean_45-54                 1.581140e-18
Age_clean_65andover             1.405458e-18
Age_clean_Ageunknown            1.405458e-18
Participant_Motor cyclists      1.043118e-18
Sex_M                           7.819248e-19
Age_clean_25-34                 3.513646e-19
Age_clean_35-44                 3.513646e-19
Age_clean_21-24                 3.513646e-19
Age_clean_10-14                 0.000000e+00
Participant_Pedestrians        -1.043118e-18
Participant_Car passengers     -1.061067e-18
Age_clean_18-20                -1.405458e-18
Age_clean_55-64                -2.635234e-18
Age_clean_15-17                -3.055788e-18
Age_clean_Age unknown          -5.101107e-18
2011_log                       -6.955532e-01
2012_log                       -7.042752e-01
Name: CasualtyType_Killed, dtype: float64

In [200]:
from sklearn.model_selection import train_test_split
data_no_na = data_final_encoded.dropna()

X = data_no_na.drop(columns=['CasualtyType_Killed'])
y = data_no_na['CasualtyType_Killed']

In [201]:
corr_mat = X.corr()
corr_mat

,2011_log,2012_log,Age_clean_10-14,Age_clean_15-17,Age_clean_18-20,Age_clean_21-24,Age_clean_25-34,Age_clean_35-44,Age_clean_45-54,Age_clean_55-64,Age_clean_6-9,Age_clean_65andover,Age_clean_Age unknown,Age_clean_Ageunknown,Sex_M,Participant_Car passengers,Participant_Motor cyclists,Participant_Other road users,Participant_Pedal cyclists,Participant_Pedestrians
2011_log,1.000000,0.966859,-0.111030,-0.040242,0.064800,0.075165,0.188970,0.125747,0.057871,0.044405,-0.130235,0.053526,-0.070055,-0.151742,0.169575,0.166172,-0.200867,-0.073818,-0.124189,0.107588
2012_log,0.966859,1.000000,-0.117607,-0.040497,0.039849,0.071218,0.173570,0.116832,0.111225,0.041726,-0.126929,0.061820,-0.086873,-0.156039,0.139126,0.158549,-0.196841,-0.090297,-0.081033,0.080209
Age_clean_10-14,-0.111030,-0.117607,1.000000,-0.083945,-0.092664,-0.092664,-0.092664,-0.092664,-0.092664,-0.092664,-0.064056,-0.092664,-0.064056,-0.090538,-0.005379,0.006373,-0.002388,-0.002388,-0.002388,-0.002388
Age_clean_15-17,-0.040242,-0.040497,-0.083945,1.000000,-0.083945,-0.083945,-0.083945,-0.083945,-0.083945,-0.083945,-0.058029,-0.083945,-0.058029,-0.082019,0.050288,-0.044500,0.022330,0.022330,0.022330,0.022330
Age_clean_18-20,0.064800,0.039849,-0.092664,-0.083945,1.000000,-0.092664,-0.092664,-0.092664,-0.092664,-0.092664,-0.064056,-0.092664,-0.064056,-0.090538,-0.005379,0.006373,-0.002388,-0.002388,-0.002388,-0.002388
Age_clean_21-24,0.075165,0.071218,-0.092664,-0.083945,-0.092664,1.000000,-0.092664,-0.092664,-0.092664,-0.092664,-0.064056,-0.092664,-0.064056,-0.090538,-0.005379,0.006373,-0.002388,-0.002388,-0.002388,-0.002388
Age_clean_25-34,0.188970,0.173570,-0.092664,-0.083945,-0.092664,-0.092664,1.000000,-0.092664,-0.092664,-0.092664,-0.064056,-0.092664,-0.064056,-0.090538,-0.005379,0.006373,-0.002388,-0.002388,-0.002388,-0.002388
Age_clean_35-44,0.125747,0.116832,-0.092664,-0.083945,-0.092664,-0.092664,-0.092664,1.000000,-0.092664,-0.092664,-0.064056,-0.092664,-0.064056,-0.090538,-0.005379,0.006373,-0.002388,-0.002388,-0.002388,-0.002388
Age_clean_45-54,0.057871,0.111225,-0.092664,-0.083945,-0.092664,-0.092664,-0.092664,-0.092664,1.000000,-0.092664,-0.064056,-0.092664,-0.064056,-0.090538,-0.005379,0.006373,-0.002388,-0.002388,-0.002388,-0.002388
Age_clean_55-64,0.044405,0.041726,-0.092664,-0.083945,-0.092664,-0.092664,-0.092664,-0.092664,-0.092664,1.000000,-0.064056,-0.092664,-0.064056,-0.090538,-0.005379,0.006373,-0.002388,-0.002388,-0.002388,-0.002388
Age_clean_6-9,-0.130235,-0.126929,-0.064056,-0.058029,-0.064056,-0.064056,-0.064056,-0.064056,-0.064056,-0.064056,1.000000,-0.064056,-0.044280,-0.062587,-0.214180,0.004406,-0.001651,-0.001651,-0.001651,-0.001651
Age_clean_65andover,0.053526,0.061820,-0.092664,-0.083945,-0.092664,-0.092664,-0.092664,-0.092664,-0.092664,-0.092664,-0.064056,1.000000,-0.064056,-0.090538,-0.005379,0.006373,-0.002388,-0.002388,-0.002388,-0.002388
Age_clean_Age unknown,-0.070055,-0.086873,-0.064056,-0.058029,-0.064056,-0.064056,-0.064056,-0.064056,-0.064056,-0.064056,-0.044280,-0.064056,1.000000,-0.062587,0.206744,0.004406,-0.001651,-0.001651,-0.001651,-0.001651
Age_clean_Ageunknown,-0.151742,-0.156039,-0.090538,-0.082019,-0.090538,-0.090538,-0.090538,-0.090538,-0.090538,-0.090538,-0.062587,-0.090538,-0.062587,1.000000,0.007678,-0.023242,0.003409,0.003409,0.003409,0.003409
Sex_M,0.169575,0.139126,-0.005379,0.050288,-0.005379,-0.005379,-0.005379,-0.005379,-0.005379,-0.005379,-0.214180,-0.005379,0.206744,0.007678,1.000000,0.021309,-0.007986,-0.007986,-0.007986,-0.007986
Participant_Car passengers,0.166172,0.158549,0.006373,-0.044500,0.006373,0.006373,0.006373,0.006373,0.006373,0.006373,0.004406,0.006373,0.004406,-0.023242,0.021309,1.000000,-0.196519,-0.196519,-0.196519,-0.196519
Participant_Motor cyclists,-0.200867,-0.196841,-0.002388,0.022330,-0.002388,-0.002388,-0.002388,-0.002388,-0.002388,-0.002388,-0.001651,-0.002388,-0.001651,0.003409,-0.007986,-0.196519,1.000000,-0.204255,-0.204255,-0.204255
Participant_Other road users,-0.073818,-0.090297,-0.002388,0.022330,-0.002388,-0.002388,-0.002388,-0.002388,-0.002388,-0.002388,-0.001651,-0.002388,-0.001651,0.003409,-0.007986,-0.196519,-0.204255,1.000000,-0.204255,-0.204255
Participant_Pedal cyclists,-0.124189,-0.081033,-0.002388,0.022330,-0.002388,-0.002388,-0.002388,-0.002388,-0.002388,-0.002388,-0.001651,-0.002388,-0.001651,0.003409,-0.007986,-0.196519,-0.204255,-0.204255,1.000000,-0.204255
Participant_Pedestrians,0.107588,0.080209,-0.002388,0.022330,-0.002388,-0.002388,-0.002388,-0.002388,-0.002388,-0.002388,-0.001651,-0.002388,-0.001651,0.003409,-0.007986,-0.196519,-0.204255,-0.204255,-0.204255,1.000000

In [191]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

In [192]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

model = LogisticRegression(max_iter=1000)
model.fit(X_train_imputed,y_train)

LogisticRegression(max_iter=1000)

In [193]:
y_pred = model.predict(X_test_imputed)

In [194]:
conf = confusion_matrix(y_test,y_pred)
print(conf)

[[23  6]
 [ 1 27]]

In [195]:
cl_report = classification_report(y_test,y_pred)
print(cl_report)

              precision    recall  f1-score   support

           0       0.96      0.79      0.87        29
           1       0.82      0.96      0.89        28

    accuracy                           0.88        57
   macro avg       0.89      0.88      0.88        57
weighted avg       0.89      0.88      0.88        57

In [202]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
model = LogisticRegression(max_iter=1000)
model.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

In [203]:
y_pred = model.predict(X_test)

In [204]:
conf = confusion_matrix(y_test,y_pred)
print(conf)

[[23  6]
 [ 1 27]]

In [205]:
cl_report = classification_report(y_test,y_pred)
print(cl_report)

              precision    recall  f1-score   support

           0       0.96      0.79      0.87        29
           1       0.82      0.96      0.89        28

    accuracy                           0.88        57
   macro avg       0.89      0.88      0.88        57
weighted avg       0.89      0.88      0.88        57